#Langchain core
langchain
langchain-core
langchain-community

#Hugging face Integration
langchain-huggingface
transformers
huggingface-hub

#Environment variable management
python-dotenv
yfinance
ddgs
pydantic
torch
requests

